name: Build

on:
  push:
    branches:
        - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
      with:
        submodules: true
    - name: Free up some space
      run: |
        curl 'https://raw.githubusercontent.com/AmanoTeam/gha-free-space/refs/heads/master/main.sh' -sSf | bash 
    - name: Install required dependencies
      run: |
        sudo apt-get update
        sudo apt-get install build-essential || true
    - name: Build SerenityOS
      run: bash './build.sh'
    - name: Upload artifact
      uses: actions/upload-artifact@main
      with:
        path: |
          serenity/*.tar.xz*
    - name: Create release
      uses: softprops/action-gh-release@master
      with:
        tag_name: 0.2
        name: SerenityOS sysroots
        files: ./*.xz*
        draft: false
        prerelease: false
        fail_on_unmatched_files: true
        body: "* Initial release"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
